/* LOAD FONTS */
/* @font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-300.otf") format("opentype");
  font-weight: 300; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-300Italic.otf") format("opentype");
  font-weight: 300; font-style: italic;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-350.otf") format("opentype");
  font-weight: 350; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-350Italic.otf") format("opentype");
  font-weight: 350; font-style: italic;
  } */

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-400.otf") format("opentype");
  font-weight: 400; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-400Italic.otf") format("opentype");
  font-weight: 400; font-style: italic;
  }


@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-450.otf") format("opentype");
  font-weight: 450; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-450Italic.otf") format("opentype");
  font-weight: 450; font-style: italic;
  }


/* VARIABLES */

/* GLOBAL VARIABLES */
:root {
--blue: #0000ff;
--grey: #ededed;
}


/* DESKTOP VARIABLES */
@media (min-width: 992px) {
  :root {
  /* MARGINS */
  --margin: 0.9vw;
  --top-margin: 3vw;;
  --top-header-margin: 5vw;
  --top-higher-margin: 7vw;

  /* FONT SIZES */
  --s-text: 1.1vw; --m-lh: 1.2vw;
  --m-text: 1.6vw; --m-lh: 1.8vw;
  --l-text: 56px; --l-lh: 56px;
  --xl-text: 5.2vw; --xl-lh: 5.5vw;
  --xxl-text: 13vw; --xxl-lh: 16vw;
  }

/* DESKTOP FONT SIZES */
.s-text {font-size: var(--s-text); line-height: var(--s-lh)}
.m-text {font-size: var(--m-text); line-height: var(--m-lh)}
.l-text {font-size: var(--l-text); line-height: var(--l-lh)}
.xl-text {font-size: var(--xl-text); line-height: var(--xl-lh)}
.xxl-text {font-size: var(--xxl-text); line-height: var(--xxl-lh)}
}


/* MOBILE VARIABLES */
@media (max-width: 991.98px) {
  :root {
  /* MARGINS */
  --margin: 20px;
  }

/* MOBILE FONT SIZES */
.s-text {font-size: 16px}
.m-text {font-size: 20px}
.l-text {font-size: 36px}
.xl-text {font-size: 100px}
.xxl-text {font-size: 120px;}
}



/* GENERAL FEATURES */
body {
  font-family: "TWK Lausanne 350";
  max-width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
  scrollbar-width: none;
  color: black;
  font-weight: 400;
}

.full-width {
  width: 100vw;
  height: 100vh;
}

/* STYLE LINKS */
a {
color: black;
text-decoration: none;
}
a:hover {
  color: blue;
}
a img:hover {
  content: url('../assets/img/bluelogo.svg');
}

/* HEADER */
#header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

#header div {
  padding: var(--margin);
  position: relative;
  width: 100%;
}

#header img {
  height: 1.3vw;
  padding-bottom: 0.1vw;
}

#header a {
  /* border: solid; */
  line-height: 1.1vw;
  transform:translate(0, 15%)
}

#header-row-1 {
background-color: white;
}

#header-row-2 {
background-color: var(--grey);
}

.d-inline-block img {
  width: 100%;
}

.d-inline-block {
  /* overflow-y: scroll; */
  position: relative;
}

.standard-margin {
  padding: var(--margin)
}

.top-header-margin {
  padding-top: var(--top-higher-margin);
}


#scrollsnap::-webkit-scrollbar {
  display: none;
}

#scrollsnap {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  /* scroll-snap-points-y: repeat(100vh); */
}

.scrolledsnap {
    scroll-snap-align: start;
    position:relative;
}
