/* LOAD FONTS */
@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-300.otf") format("opentype");
  font-weight: 300; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-300Italic.otf") format("opentype");
  font-weight: 300; font-style: italic;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-350.otf") format("opentype");
  font-weight: 350; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-350Italic.otf") format("opentype");
  font-weight: 350; font-style: italic;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-400.otf") format("opentype");
  font-weight: 400; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-400Italic.otf") format("opentype");
  font-weight: 400; font-style: italic;
  }


@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-450.otf") format("opentype");
  font-weight: 450; font-style: normal;
  }

@font-face {
  font-family: "TWK Lausanne 350";
  src: url("../assets/font/TWKLausanne-450Italic.otf") format("opentype");
  font-weight: 450; font-style: italic;
  }


/* VARIABLES */

/* GLOBAL VARIABLES */
:root {
--blue: #0000ff;
--grey: #ededed;
}


/* DESKTOP VARIABLES */
@media (min-width: 992px) {
  :root {
  /* MARGINS */
  --margin: 0.9vw;
  --top-margin: 3vw;;
  --top-header-margin: 5vw;
  --top-higher-margin: 7vw;
  }

/* DESKTOP FONT SIZES */
.s-text {font-size: 1.1vw}
.m-text {font-size: 1.6vw; line-height: 1.8vw}
.l-text {font-size: 56px}
.xl-text {font-size: 5.2vw; line-height: 5.5vw;}
.xxl-text {font-size: 9.7vw; line-height: 10vw;}
}


/* MOBILE VARIABLES */
@media (max-width: 991.98px) {
  :root {
  /* MARGINS */
  --margin: 20px;
  }

/* MOBILE FONT SIZES */
.s-text {font-size: 16px}
.m-text {font-size: 20px}
.l-text {font-size: 36px}
.xl-text {font-size: 100px}
.xxl-text {font-size: 120px;}
}



/* GENERAL FEATURES */
body {
  font-family: "TWK Lausanne 350";
  max-width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
  scrollbar-width: none;
  color: black;
  font-weight: 400;
}

.full-width {
  width: 100vw;
  height: 100vh;
}

/* STYLE LINKS */
a {
color: black;
text-decoration: none;
}
a:hover {
  text-decoration: line-through;
  color: black;
  font-weight: 450;
}

/* HEADER */
#header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#header div {
  padding: var(--margin);
  position: relative;
  width: 100%;
}

#header a {
  /* border: solid; */
  line-height: 1.1vw;
  transform:translate(0, +0.1vw)
}

#header-row-1 {
background-color: white;
}

#header-row-2 {
background-color: var(--grey);
}

.d-inline-block img {
  width: 100%;
}

.d-inline-block {
  /* overflow-y: scroll; */
  position: relative;
}

.standard-margin {
  padding: var(--margin)
}

.top-header-margin {
  padding-top: var(--top-higher-margin);
}


#scrollsnap::-webkit-scrollbar {
  display: none;
}

#scrollsnap {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  /* scroll-snap-points-y: repeat(100vh); */
}

.scrolledsnap {
    scroll-snap-align: start;
    position:relative;
}
