.full-width {
  padding: var(--margin);

  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.full-width div {
  cursor: pointer;
}

marquee {
  position: fixed;
  top: var(--margin);
  margin-top: var(--margin);
  padding-top: var(--margin);
  text-transform: uppercase;
}
