/* DESKTOP VARIABLES */
@media (min-width: 992px) {
  :root {
  /* MARGINS */
  --margin: 20px;
  --top-margin: 60px;
  }

/* MOBILE VARIABLES */
@media (max-width: 991.98px) {
  :root {
  /* MARGINS */
  --margin: 20px;
  }
}

body{
  overflow-y: scroll;
}

.full-width {
  position: relative;
}

.with-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.full-width div {
  padding: var(--margin) var(--margin) var(--margin) var(--margin);
  margin-top: var(--top-margin);
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
}

marquee {
  position: fixed;
  top: var(--top-margin);
  text-transform: uppercase;
  transform:translate(0, -8%);
  z-index: 10;
}
}